body {
    background-color: aliceblue;
}

.container {
    background-color: rgb(13, 110, 253);
    width: 1000px;
    height: 100%;
}

.navbar {
    background: rgb(10, 10, 10, 0.2) url("../img/kenny\ rogers\ logo.jpg") no-repeat right;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    height: 150px;
}

ul {
    list-style-type: none;
    margin-top: -15%;

}

ul li {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(12, 12, 12);
    display: inline-block;
    margin-top: 6%;
    margin-right: 10px;
    padding: 10px;
    box-shadow: 4px 8px 10px rgb(13, 110, 253);
}

ul li a {
    color: rgb(13, 110, 253);
    text-decoration: none;
}

ul li:hover {
    background-color: rgb(39, 11, 39);
}

ul li a:hover {
    color: white;
}

header {
    margin-bottom: 20px;
    margin-top: 20px;
}

article {
    width: 1000px;
    margin-bottom: 10px;
}

.cushion {
    margin-bottom: 70px;
    margin-top: -20px;
}

/*cards  */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 200px;
    height: 350px;
    display: inline-block;
    margin: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-card {
    padding: 2px;
    padding-top: 30%;
}

h4 {
    font-size: 14px;
    padding-left: 13px;
    letter-spacing: 1px;
}

.h4p {
    font-size: 12px;
    padding-left: 50px;
}

.h4p2 {
    font-size: 12px;
    padding-left: 10px;
}

.h4p3 {
    font-size: 12px;
    padding-left: 26px;
}

.h4p4 {
    font-size: 12px;
    padding-left: 40px;
}

/* footer */
footer {
    background-color: rgb(10, 10, 10, 0.2);
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    height: 50px;
}

.fa-facebook,
.fa-instagram,
.fa-youtube {
    color: rgb(240, 248, 255);
    padding-right: 5px;
    margin-top: 10px;
}

.float-right {
    float: right;
    margin-top: -46px;
}

.center {
    color: rgb(240, 248, 255);
    text-decoration: none;
}

.center:hover {
    color: rgb(0, 0, 0);
}